@model Deidre_MVC.Models.Employeeinfo
@{
    ViewData["Title"] = "Delete";
}

<h2>Details</h2>
<div>
    <h4>Employee Information</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <span>
            @Model.Name
        </span>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <span>
            @Model.Gender
        </span>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <span>
            @Model.Company
        </span>
        <dt>
            @Html.DisplayNameFor(model => model.Departament)
        </dt>
        <span>
            @Model.Departament
        </span>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index"><button class="btn btn-secondary">Back Home</button></a>
</form>